/* Lists of stories */

.stories-container {
  padding: 0 10px;
}

.stories-list {
  margin: 0;
}

.stories-list.hidden {
  margin: 0;
  display: none;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

.stories-list li:first-child {
  margin-top: 20px;
} 

.stories-list li:last-child {
  margin-bottom: 20px;
} 

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}



/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}
